<div class="col-md-12">
    <div class="well">
        <span style="margin: 20px">
            @Html.ActionLink("Tweets", "TweetsIndex", "AdminTweets", new { }, new { @class = "btn btn-primary btn-lg" })
        </span>
    </div>
</div>
