@if (User.Identity.IsAuthenticated)
{
    <div class="col-sm-3 col-md-3">
        

        @using (Html.BeginForm("Search", "Users", FormMethod.Get, new { @class = "navbar-form", role = "search" }))
        {
            @Html.AntiForgeryToken()
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search users" name="query">
                <div class="input-group-btn">
                    <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
    </div>
}
